﻿<div class="jumbotron">
    <h1>My application talks with WebAPI</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Shopping list</h2>
        <ul id="shopping-list" class="list-group">
        </ul>
        <button id="update-shopping-list" class="btn btn-info">Update list</button>
    </div>
    <div class="col-md-6">
        <h2>Another resource</h2>
        <p>Maybe later</p>
    </div>
</div>

@section scripts {
    <script language="javascript">
        function getShoppingItems() {
            $.ajax({
                url: '/api/shoppingitems'
            })
            .done(function (data) {
                $('#shopping-list').html('');

                for (var i = 0; i < data.length; i++) {
                    var item = data[i];
                    $('#shopping-list')
                        .append('<li class=list-group-item>' + item.name + '</li>');
//                        .append('<button class="btn delete-item" data-id="' + item.id + '">Delete</button>');
                }
            });
        };

        function bindEvents() {
            $("#update-shopping-list")
                .click(function() {
                     getShoppingItems();
                });

            $(".delete-item").on("click", function () {
                console.log("nana");
                var id = $(this).data("id");
                $.ajax({
                    url: "/api/shoppingitems/" + id,
                    type: "DELETE"
                })
                .done(function() {
                    getShoppingItems();
                });
            });
        };

        $(function() {
            bindEvents();
        });
    </script>
}
